$brown: rgba(70, 59, 61, 0.826);
$rose: rgb(199, 26, 84);
$blue: rgba(1, 57, 117, 0.8);
$sky-blue: #8d99ae;
$light: #edf2f4;

// Body
$body-bg: $light;

// Typography
$body-color: $brown;
$family: "Montserrat", sans-serif;
$font-size-base: 1rem;
$line-height-base: 2;
